credentials
terraform.tfstate.backup
terraform.tfstate
variables_tf_backup.txt
.terraform.lock.hcl
.terraform

zoomcamp

# python notebook & environment
de_zoomcamp.ipynb
.ipynb_*
pyenv
.venv
__pycache__

# airflow
logs
plugins
config

# local database
mlflow.db

# ml model
*.onnx